html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* Normally 100% is 16px. We want the size to be 10px so we do 62.5%. */
  font-family: "EB Garamond", serif;
}
body {
  background-color: rgb(209, 199, 178);
}
.gallery {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: 2rem;
}

.header {
  font-size: 5rem;
  color: rgb(44, 31, 25);
  text-align: center;
  padding: 3rem;
  border: 1rem solid rgb(95, 70, 37);
  background-color: rgb(170, 175, 158);
}

.card {
  background-color: rgb(238, 234, 228);
  width: 36rem;
  border: 0.7rem solid rgb(122, 68, 46);
  border-radius: 1.5rem;
  height: 37rem;
  margin-top: 5rem;
  padding: 1rem;
  font-size: 3.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1rem 1rem 1rem rgb(122, 105, 91);
}
.card-title {
  color: black;
  font-size: 27px;
  font-style: italic;
  padding: 5px;
}
.card-sub-header {
  font-size: 18px;
  padding: 20px;
  color: rgb(139, 48, 25);
}

.card-img {
  width: 170px;
  height: 180px;
  text-align: center;
  margin-top: 2rem;
  box-shadow: 5px 5px 10px rgb(146, 134, 128);
}
