html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* Normally 100% is 16px. We want the size to be 10px so we do 62.5%. */
}

.parent {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.child {
  width: 20%;
}
.child-1 {
  border: 3px solid green;
  height: 500px;
}
.child-2 {
  border: 3px solid rgb(231, 37, 37);
  height: 300px;
  flex-grow: 1;
}
.child-3 {
  border: 3px solid rgb(172, 52, 228);
  height: 700px;
  flex-grow: 3;
}
